.divfooter{
    margin-top: 50px;
    background-color:rgb(52,58,64);
}
footer{
    
}
.partfooter{
    margin-top: 50px;
    color: white;
    width: 30%;
}
.borderSilver{
    border: solid 1px rgb(109,109,104);
    padding-left: 1px;
    padding-right: 1px;
}
.last{
    background-color: black;
    text-align: center;
    z-index: 8;
}