.formulaireCache{
    display: none;
    z-index: 20;
   
    
}
.formulaireShow{
    display: block;
    z-index: 20;
   
}

.opacity{
    /* filter: brightness(20%); */
    background-color: gray;
}
.formConnection{
    display: none;
    z-index: 20;
    
}
.formConnectionShow{
    display: block;
    z-index: 20;
    
}

.inscription{
    display: none;
    z-index: 20;
    
}
.inscriptionShow{
    display: block;
    z-index: 20;
    
}
