.grossePancarteGrise{
    background-color: rgb(243,243,243);
    height: 520px;
}
.ensembleGris{
    display: flex;
    justify-content: center;
}
.imgbanner{
    height: 500px;
}
.boutonBanner{
    background-color: rgb(221,69,69);
    color: white;
    border-radius: 30px;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
   
}
.divBoutonBanner{
   height: 64px;
   
   
}
.bannerLeft{
    margin-top: 100px;
}