section{
    padding: 50px;
    div{
        h2{
            text-align: center;
        }
    }
}
.img4{
    background-image: url(../img/products_mini/product-luxry-sofa.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}
.img5{
    background-image: url(../img/products_mini/product-gloves.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}
.img6{
    background-image: url(../img/products_mini/product-cups.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}
.row1{
    height: 280px;
}
.product{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.sales{
    background-color: rgb(221, 69, 69);
    color: white;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.salesup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ok{
    color: rgb(221, 69, 69);
}
.rowtext{
    height: 150px;
}
.img7{
    background-image: url(../img/products_mini/product-bag.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;

}
.img8{
    background-image: url(../img/products_mini/product-tshitr.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img9{
    background-image: url(../img/products_mini/product-plates.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;

}
.img10{
    background-image: url(../img/products_mini/product-modern-sofa.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}
.img11{
    background-image: url(../img/products_mini/product-bed.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}
.img12{
    background-image: url(../img/products_mini/product-shoes.jpg);
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}
