.div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(243,243,243);
    margin-left: 10px;
}
.silver{
    color:rgb(109,109,104);
}
.boutonCarte{
    background-color: black;
    color: white;
}